<ion-view view-title="Account">
  <ion-nav-buttons side="right">
      <button class="button button-clear icon-left ion-gear-a" ui-sref="app.options" name="button"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <b>Name : </b>
    <br>
    <span>Michael</span>
    <br>
    <b>University : </b>
    <br>
    <span>STMIK Mikroskil</span>
    <br>
    <b>Rating : </b>
    <br>
    <span>1500</span>
    <br>
    <b>Highest Rating : </b>
    <br>
    <span>1700</span>
    <div class="item item-text-wrap">
         <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
    </div>
  </ion-content>
</ion-view>
