<ion-view name="register-view" cache-view="false" align-title="left">
  <ion-nav-title>
    <img src="img/iseloom.png" style="width:30px"> Change Password
  </ion-nav-title>
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="no-text">
    </ion-nav-back-button>
  </ion-nav-bar>
    <ion-content>
      <div>
        <form ng-submit="changepassword(data)">
        <div class="padding">
          <label class="item item-input red-border" style="background-color:white;">
            <i class="icon ion-android-lock placeholder-icon"></i>
            <input type="password" id="password" placeholder="Old Password" name="password" ng-model="data.old_password" tabindex="4">
          </label>
          <br>
          <label class="item item-input red-border" style="background-color:white;">
            <i class="icon ion-android-lock placeholder-icon"></i>
            <input type="password" id="password" placeholder="New Password" name="password_confirmation" ng-model="data.new_password" tabindex="5">
          </label>
          <br>
        </div>
        <div class="padding" style="margin-top:-20px">
              <button type="submit" class="button button-full button-positive ink">Change Password</button>
        </div>
        </form>
        <br>
      </div>
    </ion-content>
</ion-view>
