<ion-view view-title="Options" name="dashboard-view">
  <ion-content>
    <div class="list">
      <div class="item item-divider">
          Account
      </div>
      <a ui-sref="app.editprofil" class="item item-icon-left item-icon-right" style="border-bottom:1px solid black;">
        <i class="icon ion-person-stalker"></i>
        Edit Profile
        <i class="item-note icon ion-chevron-right"></i>
      </a>
      <a ui-sref="app.gantipassword" class="item item-icon-left item-icon-right" style="border-bottom:1px solid black;">
        <i class="icon ion-lock-combination"></i>
        Change Password
        <i class="item-note icon ion-chevron-right"></i>
      </a>
      <!--<div class="item item-divider">
        Log Activity
      </div>
      <a class="item item-icon-left item-icon-right" href="" style="border-bottom:1px solid black;">
        <i class="icon ion-clipboard"></i>
        Deal
        <i class="item-note icon ion-chevron-right"></i>
      </a>-->
      <div class="item item-divider">
        Contact
      </div>
      <a class="item item-icon-left" href="" style="border-bottom:1px solid black;">
        <i class="icon ion-email"></i>
        Email
        <span class="item-note">
            octopusid88@gmail.com
        </span>
      </a>
      <a class="item item-icon-left" href="" style="border-bottom:1px solid black;">
        <i class="icon ion-android-call"></i>
        Phone
        <span class="item-note">
            087777568898
        </span>
      </a>
      <a class="item item-icon-left" style="font-size:13px; border-bottom:1px solid black;">
        <i class="icon ion-social-facebook"></i>
        Facebook
        <span class="item-note">
            Octopus
        </span>
      </a>
      <a class="item item-icon-left" style="font-size:13px; border-bottom:1px solid black;">
        <i class="icon ion-social-instagram"></i>
        Instagram
        <span class="item-note">
            @octopus.id
        </span>
      </a>
      <a class="item item-icon-left" style="font-size:13px; border-bottom:1px solid black;">
        <i class="icon ion-social-twitter"></i>
        Twitter
        <span class="item-note">
            @octopus.id
        </span>
      </a>
      <div class="item item-divider">
        Help
      </div>
      <a class="item item-icon-left item-icon-right" ui-sref="app.about" style="border-bottom:1px solid black;">
        <i class="icon ion-briefcase"></i>
        About us
        <i class="item-note icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" ui-sref="app.howitworks" href="" style="border-bottom:1px solid black;">
        <i class="icon ion-settings"></i>
        How It Works
        <i class="item-note icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" ui-sref="app.termsofservices" style="border-bottom:1px solid black;">
        <i class="icon ion-document-text"></i>
        Term of Services
        <i class="item-note icon ion-chevron-right"></i>
      </a>
      <div class="item item-divider">
          Settings
      </div>
      <div class="item item-icon-left" ng-click="logout()" style="border-bottom:1px solid black;">
        <i class="icon ion-power"></i>
        Logout
      </div>
      <br>
  </ion-content>
</ion-view>
