<ion-view view-title="Register" name="register-view" cache-view="false" align-title="left">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="no-text">
    </ion-nav-back-button>
  </ion-nav-bar>
    <ion-content>
      <div>
        <form ng-submit="register(data)">
        <div class="padding">
          <label class="item item-input red-border" style="background-color:white;">
            <input type="text" id="name" name="name" placeholder="Name" ng-model="data.name" tabindex="1">
          </label>
          <br>
          <label class="item item-input red-border" style="background-color:white;">
            <input type="email" id="email" name="email" placeholder="Email" ng-model="data.email" tabindex="2">
          </label>
          <br>
          <label class="item item-input red-border" style="background-color:white;">
            <input type="text" name="username" placeholder="Username" id="username" ng-model="data.username" tabindex="3">
          </label>
          <br>
          <label class="item item-input red-border" style="background-color:white;">
            <input type="password" id="password" placeholder="Password" name="password" ng-model="data.password" tabindex="4">
          </label>
          <br>
          <label class="item item-input red-border" style="background-color:white;">
            <input type="password" id="password" placeholder="Confirmation Password" name="password_confirmation" ng-model="data.password_confirmation" tabindex="5">
          </label>
          <br>
          <div class="list">
            <label class="item item-input item-select">
            <div class="input-label">
              University
            </div>
            <select name="university" ng-model="data.university">
                <option ng-repeat="university in universities" value="{{university.val_name}}">{{university.name}}</option>
            </select>
            </label>
          </div>
          <div class="list">
            <label class="item item-input item-select">
            <div class="input-label">
              Gender
            </div>
            <select name="gender" ng-model="data.gender">
              <option value="m">Male</option>
              <option value="f">Female</option>
            </select>
            </label>
          </div>
          <br>
        </div>
        <div class="padding" style="margin-top:-20px">
              <button type="submit" class="button button-full button-positive ink">Register</button>
        </div>
        </form>
        <br>
      </div>
    </ion-content>
</ion-view>
