<ion-view>
  <ion-nav-title>
    <img src="img/iseloom.png" style="width:30px"> Scoreboard
  </ion-nav-title>
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="no-text">
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <h3 style="text-align:center; margin-top:5px">{{contest.name}}</h3>
    <p class="text-center" ng-if="freeze">FREEZE</p>
    <p class="text-center">{{duration}}</p>
    <div class="list card">
       <a class="item" ng-repeat="user in users" style="margin-top:10px">
            <b>{{user.name}}</b>
            <br>
            <span>{{user.university}}</span>
            <div style="padding-left:10px">
            <div class="row">
                <div class="col-30">
                    <b>Solved : </b>
                </div>
                <div class="col" style="margin-left:10px; margin-top:-5px">
                    <span>{{user.solved}}</span>
                </div>
            </div> 
            <div class="row">
                <div class="col-30">
                    <b>Score : </b>
                </div>
                <div class="col" style="margin-left:10px; margin-top:-5px">
                    <span>{{user.score}}</span>
                </div>
            </div> 
            </div>       
        </a> 
    </div>
    <!--<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <th>#</th>
            <th>Name</th>
            <th>Univ</th>
            <th>Solved</th>
            <th>Score</th>
            <th ng-repeat="problem in problems">
                {{problem.valName}}
            </th>
        </thead>
        <tbody>
                  <tr ng-repeat="user in users">
                        <td>{{user.index}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.university}}</td>
                        <td>{{user.solved}}</td>
                        <td>{{user.score}}</td>
                        <td ng-repeat="problem in user.problem" style="background-color:{{problem.bg_color}}; color:{{problem.color}}">
                            <span ng-if="problem.tried==0"></span>
                            <span ng-if="problem.tried>=1">
                                <span ng-if="problem.res==true">{{problem.tried}} <span ng-if="problem.tried==1">({{problem.min}})</span><span ng-if="problem.tried>1">({{(problem.tried-1)*20}}+{{problem.min}})</span></span>
                                <span ng-if="problem.res==false">{{problem.tried}}</span>
                            </span>
                        </td>
                  </tr>
        </tbody>
    </table>
    </div>-->
    <!--<th class="row header">
          <th >Rank</th>
          <th >Univ</th>
          <th >Name</th>
          <th >Solved</th>
          <th >Score</th>
          <th >HW</th>
          <th >MK</th>
          <th >OP</th>
    </th>
    <th class="row" ng-repeat="data in ctrl">
          <th >{{data.rank}}</th>
          <th >{{data.univ}}</th>
          <th >{{data.name}}</th>
          <th >{{data.solve}}</th>
          <th >{{data.score}}</th>
          <th >{{data.hw}}</th>
          <th >{{data.mk}}</th>
          <th >{{data.mk}}</th>
    </th>-->
  </ion-content>
</ion-view>
