<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Live Contests" icon="ion-trophy" href="#/app/dash">
    <ion-nav-view name="app-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Ranklists" icon="ion-connection-bars" href="#/app/ranklists">
    <ion-nav-view name="app-ranklists"></ion-nav-view>
  </ion-tab>

  <!-- Contest Tab -->
  <ion-tab title="Upcoming Contest" icon="ion-clipboard" href="#/app/upcoming_contest">
    <ion-nav-view name="app-contest"></ion-nav-view>
  </ion-tab>

<!-- Account Tab -->
  <ion-tab title="Account" icon-on="ion-person" icon-off="ion-ios-person-outline" href="#/app/account">
    <ion-nav-view name="app-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
