<ion-view view-title="Contest Detail">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="no-text">
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <b>Contest Name : </b>
    <br>
    <span>MPC Challenge</span>
    <br>
    <b>Contest Length : </b>
    <br>
    <span>2:00:00</span>
    <br>
    <b>Start Time: </b>
    <br>
    <span>2:00:00</span>
    <br>
    <b>End Time : </b>
    <br>
    <span>4:00:00</span>
    <br><br>
    <div class="padding" style="margin-top:-20px">
              <button type="submit" class="button button-full button-assertive ink">Join Contest</button>
   </div>
  </ion-content>
</ion-view>