<ion-view>
  <ion-nav-title>
    <img src="img/iseloom.png" style="width:30px"> Contest Detail
  </ion-nav-title>
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="no-text">
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <b>Contest Name : </b>
    <br>
    <span>{{ contest.name }}</span>
    <br>
    <b>Start Time: </b>
    <br>
    <span>{{ start }}</span>
    <br>
    <b>End Time : </b>
    <br>
    <span>{{ end }}</span>
    <br><br>
    <div class="padding" style="margin-top:-20px" ng-if="user">
        <a ng-click="unjoin_contest()" ng-if="join==true"><button type="submit" class="button button-full button-assertive ink">{{join ? 'Unjoin' : 'Join'}} Contest</button></a>
        <a ng-click="join_contest()" ng-if="join==false"><button type="submit" class="button button-full button-assertive ink">{{join ? 'Unjoin' : 'Join'}} Contest</button></a>
   </div>
  </ion-content>
</ion-view>