<ion-view view-title="Login" hide-nav-bar="true" class="customPage">
    <ion-content>
      <div >
        <div class="hero no-header flat" style="padding-top:300px">
            <div class="content">
                <div class="app-icon"></div>
                <h1 style="margin-top:-10px">Iseloom</h1>
                <h4 style="color:white">Code is for Fun!</h4>
            </div>
        </div>
        <div style="margin-top:40px">
        <div class="row padding">
          <div class="col col-50"><button native-transitions ui-sref="login" class="button button-block icon-left ion-unlocked button-assertive-900">Login</button></div>
          <div class="col col-50"><button ui-sref="register" native-transitions class="button button-block icon-left ion-compose button-assertive-900">Register</button></div>
        </div>
        </div>
      </div>
    </ion-content>
</ion-view>
