<div class="container" style="background-color:white" ng-app="submission" ng-controller="MainCtrl">
    <h3 class="text-center">My Submissions</h3>
    <h4 id="clock" class="text-center"></h4>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <th>#</th>
            <th>ID Problem</th>
            <th>Time</th>
            <th>Result</th>
        </thead>
        <tbody>
           <% if(submissions.length > 0) { %>
                  <tr ng-repeat="submission in submissions">
                      <td>{{$index+1}}</td>
                      <td>{{submission.id_problem}}</td>
                      <td>{{submission.time}}</td>
                      <td ng-if="submission.output==0">COMPILING</td>
                      <td ng-if="submission.output>=1 && submission.result==1" style="background-color:#00FF33">
                           CORRECT
                      </td>
                      <td ng-if="submission.output>=1 && submission.result==0" style="background-color:#FF0000; color:white;">
                           WRONG ANSWER
                      </td>
                      <td ng-if="submission.output>=1 && submission.result==2" style="background-color:#FF0000; color:white;">
                           TIME LIMIT EXCEEDED
                      </td>
                      <td ng-if="submission.output>=1 && submission.result==3" style="background-color:#FF0000; color:white;">
                           MEMORY LIMIT EXCEEDED
                      </td>
                      <td ng-if="submission.output>=1 && submission.result==4" style="background-color:#FF0000; color:white;">
                           SUBMISSION ERROR
                      </td>
                      <td><a href="/problem/submissiondetail/{{submission.id_submission}}" class="btn btn-success">Preview Submission</a></td>
                  </tr>
            <% } else { %>
              <tr>
                <td colspan="4">No Submission.</td>
              </tr>
            <% } %>
        </tbody>
    </table>
</div>
<script src="/scripts/problem_submission.js"></script>