<div class="container" style="background-color:white">
  <br>
    <legend>University Ranklists</legend>
    <div class="row">
      <div class="col-md-4">
        <div class="btn-group" role="group" aria-label="...">
          <a href="/ranklists"><button type="button" class="btn btn-default">User ranklist</button></a>
          <a href="/ranklists/university"><button type="button" class="btn btn-default active">University ranklist</button></a>
        </div>
      </div>
      <div class="col-md-3">
        <select class="form-control">
          <option value="" disabled selected hidden>Ranklist for university</option>
          <% _.each(universities, function(university) {%>
            <option <%=university.val_name%>><%=university.name%></option>
          <% }) %>
        </select>
      </div>
    </div>
    <br>
    <br>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <thead>
                  <th>#</th>
                  <th>University</th>
                  <th>Grade</th>
                  <th>Rating</th>
          </thead>
          <tbody>
              <% var idx = 1 %>
              <% _.each(universities, function(university){%>
                <tr>
                    <td><%=idx%></td>
                    <td><%=university.name%></td>
                    <td></td>
                    <td></td>
                </tr>
                <% idx++ %>
              <%})%>

          </tbody>
        </table>
    </div>
</div>