<div class="container" style="background-color:white;">
    <legend><h2>Frequently Asked Question</h2></legend>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                I don't receive any confirmation email yet after register.
            </h3>
        </div>
        <div class="panel-body">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            You can login with the same username/email and password to get the link to resend email confirmation.
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                I can't submit Testcase input and output when making a problem sets.
            </h3>
        </div>
        <div class="panel-body">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            Maybe your zip or rar is not detectable from our server. Use other compress application. (Admin using linux or mac compress).
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                I have confirm from email, but when i login, i need to admin verification.
            </h3>
        </div>
        <div class="panel-body">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            Well, you need to wait till admin verify your account first.
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                I don't solve or try to solve anything from contest and yet my rating drop down.
            </h3>
        </div>
        <div class="panel-body">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            Contestant who join contest will be count even though they absent in contest. To avoid contestant who join but see the problems too hard.
        </div>
    </div>
</div>